.postTest {
    height: 100px;
    width: 100px;
    background-color: red;
}

.pp-container {
    margin: auto;
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .pp-container {
        margin: auto;
        width: 95%;
    }
}

.pp-header {
    display: grid;
    grid-template-columns: auto;
}
.header-user-container {
    color: #282828;
    right: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-end;
    border-radius: 50px;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 0;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 0;
}
.header-user-container:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.25s;
}

.header-icon {
    width: 16px;
}
.header-user {
    margin: auto;
}

.pp-title {
    margin: 0px;
    margin-bottom: 20px;
}

.pp-description {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;
    background-color: white;
    white-space: pre-wrap;
}

.pp-pictures-container {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
}

.pictures-highlight {
    position: relative;
    right: 0;
    margin: auto;
    border: 2px solid;
    transition: width 0.1s;
}

.pictures-instances-container {
    margin: auto;
    margin-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.instances-instance {
    margin: 5px;
    height: 70px;
    background-color: white;
    flex-shrink: 0;
    border-radius: 3px;
    border: 2px solid;
}

.pp-links-contaier {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    
}
.pp-reference-link {
    background-color: #282828 ;
    color: white;
    margin: 5px;
    margin-right: auto;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
}
.pp-reference-link:hover {
    background-color: #383838;
    transition: background-color 0.25s;
}

.pp-skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.skills-title {
    margin: 0;
    justify-self: flex-end;
    margin-right: 10px;
}
.skills-handshake-icon {
    width: 30px;
    justify-self: flex-start;
    margin-left: 10px;
}
.skill-proposition-text-container {
    grid-column: 1/3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skill-proposition-text {
    margin: 0;
    grid-column: 1/3;
    margin-bottom: 8px;
    justify-self: center;
    opacity: 0.7;
}
.skill-proposition-dm-text {
    margin: 0;
    margin-right: 10px;
    grid-column: 1/3;
    margin-bottom: 8px;
    justify-self: center;
    opacity: 0.7;
}
.proposition-points-reset {
    margin: auto;
    margin-left: 15px;
    margin-right: 10px;
    line-height: 1.1;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 14px;
    text-align: center;
    color: white;
}
.skill-proposition-points {
    grid-column: 1/3;
    height: 100%;
    margin: auto;
    justify-self: start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.proposition-point {
    width: 8px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid;
    margin: auto;
    margin-left: 2px;
    margin-right: 2px;
    background-size: 90px;
}
.qanda-container {
    width: 100%;
    display: grid;
}
.question-input {
    width: 70%;
    height: 50px;
    margin: auto;
    border-radius: 3px;
    border: 2px solid #282828;
    padding-left: 3px;
}
.question-submit {
    width: 50%;
    background-color: #282828;
    color: white;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 100px;

}
.push-right {
    margin-left: 10px;
    margin-right: 0;
}
.skill-container-NH {
    grid-column: 1/3;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.skill-container {
    grid-column: 1/3;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
.skill-container:hover {
    background-color: #e1e1e1;
    cursor: pointer;
    transition: background-color 0.25s;
}
.skill-name {
    justify-self: flex-end;
    margin: 5px;
}
.skill-bar {
    margin: auto;
    margin-left: 0;
    height: 100%;
    align-content: center;
    display: flex;
    flex-direction: row;
}
.skill-cap {
    margin: auto;
    margin-left: 5px;
    height: 20px;
    border: 3px solid;
    border-radius: 3px;
}
.skill-fill {
    position: relative;
    z-index: 1;
    height: 100%;
}
.skill-proposition-fill-container {
    position: relative;
    z-index: 0;
    top: -20px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    transition: width 0.1s;
}
.skill-proposition-fill {
    width: 75px;
}
.skill-proposition-info {
    margin: auto;
    margin-left: 5px;
    opacity: 1;
}
.skill-info {
    margin: auto;
    margin-left: 5px;
    opacity: 0.7;
}
.skill-help {
    margin: auto;
    height: 18px;
    width: 18px;
    right: 0;
    justify-self: flex-end;
}

.pp-form-title {
    margin: 0;
    margin-bottom: 5px;
    padding: 5px;
    padding-left: 75px;
    padding-right: 75px;
}
.pp-form {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}
.pp-form-message {
    margin: auto;
    width: 60%;
    height: 100px;
    font-size: 15px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #282828;
    margin-bottom: 10px;
}
.pp-form-submit {
    width: 100%;
    border: 0;
    color: white;
}
.pp-form-submit:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: opacity 0.25s;
}