.UB-container {
    width: 100%;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
    display: grid;
    grid-template-columns: 55px auto;
    color: #282828;
    border-radius: 3px;
}
.UB-container:hover {
    background-color: #e1e1e1;
    transition: background-color 0.1s;
}
.UB-user-icon {
    width: 45px;
    height: 35px;
    background-color: white;
    border: 2px solid #282828;
    margin: 0;
    border-radius: 35px;
    line-height: 28px;
}
.UB-user-text {
    margin: auto;
    margin-left: 0;

}